<%= javascript_packs_with_chunks_tag 'app', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'app', 'application' %>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">

<% content_for :head do %>
  <title><%= @school %> | Management Software</title>
<% end %>