<%= javascript_packs_with_chunks_tag 'app', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'app', 'application' %>

<% content_for :head do %>
  <title><%= @school %> | Management Software</title>
<% end %>